:root {
    --main-bg-color: #a7928b;
    --main-font-color: #000000;
    --header-bg-color: #FF7F50;
    --header-font-color: #e8edee;
    --accent-color: #1f0381;
    --highlight-color: #6b6b7e;
    --footer-bg-color: #f3622d;
    --button-bg-color: #0033A0;
    --button-font-color: #FFFFFF;
    --font-family: 'Open Sans', sans-serif;
    --header-font-family: 'Montserrat', sans-serif;
    --padding-space: 20px;
    --margin-space: 20px;
    --border-radius: 10px;
}

body {
    font-family: var(--font-family);
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    padding-top: 100px;
}

header {
    background-size: cover;
    background-color: var(--header-bg-color);
    color: var(--header-font-color);
    text-align: center;
    padding: 10px 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: transform 0.3s ease;
}

.header-hidden {
    transform: translateY(-100%);
}

h1 {
    color: var(--highlight-color);
    background: linear-gradient(to right, #3b5285, var(--main-font-color));
    background-clip: text; /* Standard property */
    -webkit-background-clip: text; /* Webkit-specific */
    -webkit-text-fill-color: transparent; /* Webkit-specific */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: var(--header-font-color);
    text-decoration: none;
    font-weight: bold;
}

footer {
    background-color: var(--footer-bg-color);
    color: var(--header-font-color);
    text-align: center;
    padding: var(--padding-space) 10px;
}

h2 {
    font-family: var(--header-font-family);
    color: var(--main-font-color);
}

.content {
    margin: var(--margin-space);
    background-color: rgba(255, 255, 255, 0.8);
    padding: var(--padding-space);
    border-radius: var(--border-radius);
}

.content img {
    max-width: 100%;
    height: auto;
    border-radius: var(--border-radius);
    transition: transform 0.3s ease;
}

.content img:hover {
    transform: scale(1.05);
}

.content section {
    margin-bottom: var(--margin-space);
}

button {
    background-color: var(--button-bg-color);
    color: var(--button-font-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px; /* Corrected value */
    cursor: pointer;
    font-family: var(--header-font-family);
    display: block;
    margin: var(--margin-space) auto;
    font-size: 16px;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: var(--padding-space);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, textarea, button {
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#form-feedback {
    margin-top: 10px;
    font-weight: bold;
}

#back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--button-bg-color);
    color: var(--button-font-color);
    border: none;
    padding: 10px;
    border-radius: 5px; /* Corrected value */
    cursor: pointer;
}
