/* Base styles */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #FFFFFF; /* White */
    color: #000000; /* Black */
}
header, footer {
    background-color: #3d68c7; /* Blue */
    color: #FFFFFF; /* White */
    text-align: center;
    padding: 10px;
}
h1, h2 {
    font-family: 'Montserrat', sans-serif;
    color: #080606; /* Red */
}
button {
    background-color: #FFD700; /* Gold */
    color: #FFFFFF;
}
.content {
    margin: 20px;
}
/* Styles for small screens */
@media (max-width: 767px) {
    .content section {
        margin-bottom: 20px;
    }
}

/* Styles for large screens */
@media (min-width: 768px) {
    .content {
        display: flex;
        flex-wrap: wrap;
    }
    .content section {
        flex: 1 1 30%;
        margin: 10px;
    }
}
